/* Fonts */
@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('fonts/caviardreams_bold_macroman/Caviar_Dreams_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'black_jackregular';
    src: url('fonts/blackjack_regular_macroman/blackjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}